@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

body {
	background-image: url("img/pexels-pixabay-162583.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #eeeeee;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

header {
	font-size: 2rem;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
form input,
form button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: #eeeeee;
	outline: none;
	border-radius: 8px;
	margin: 0.5rem;
}
form button {
	color: #9a6650;
	background: #f7fffe;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
}
form button:hover {
	background: #9a6650;
	color: #eeeeee;
}


.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 30%;
	list-style: none;
}

.todo {
	margin: 0.5rem;
	background: #eeeeee;
	font-size: 20px;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
  transition: all 1s ease;
}
.filter-todo {
	padding: 1rem;
}
.todo li {
	flex: 1;
}

.trash-btn,
.complete-btn {
	background: #705646;
	color: #eeeeee;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 15px;
	outline: none;
	border-radius: 0px;
}
.complete-btn {
	background: #6c6d6a;
	border-radius: 0px;
}
.todo-item {
	padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

.fall {
	transform: translateY(10rem) rotateZ(20deg);
	opacity: 0;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background-image: none;
	border-radius: 10px;
}

select option{
  border-radius: 10px;
}

/* Custom Select */
.select {
	margin: 1rem;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}
select {
	color: #8c624c;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	width: 12rem;
  border-radius: 10px;
  font-size: 18px;
}
/* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.1rem;
	background: #8c624c;
	cursor: pointer;
	pointer-events: none;
}
/* Transition */

.select:hover::after {
	transform: scale(1.5);
	transition: all 0.4s ease;
}

@media screen and (max-width: 736px) {
	header {
		font-size: 24px;
	}

	form input,
	form button {
		font-size: 18px;
	}

	select {
		width: 9.2rem;
  }
  .select::after {
		padding: 0.8rem;
	}
	.filter-todo {
		padding: 0.8rem;
	}
}

@media screen and (max-width: 478px) {
	header {
		font-size: 20px;
	}

	form input,
	form button {
		font-size: 12px;
	}

	select {
		font-size: 15px;
		width: 8rem;
		height: 2rem;
	}
	.select {
		margin: 0.2rem;
		border-radius: 10px;
	}

	.select::after {
		padding: 0.5rem;
	}
	.filter-todo {
		padding: 0.5rem;
	}
}

@media screen and (max-width: 394px) {
	select {
		font-size: 10px;
		width: 8rem;
		height: 2rem;
	}
	.filter-todo {
		padding: 0.5rem;
	}
}
